main {
    padding: 0 var(--pad) var(--pad);
    opacity: 1;
    min-height: calc(100vh - calc(var(--pad) * 6.5));
    transition: opacity .25s ease-in;
    display: flex;
    width: 100vw;
    height: 100vh;
    justify-content: center;
    align-items: center;
}

img {
    width: 50%;
}

/************************/
/**** ICON ANIMATION ****/
/************************/

#iconContainer {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    width: 100vw;
    height: 100vh;
    opacity: 1;
    transition: opacity 0.25s ease-out 2s;
    z-index: 2;
}

#iconWrapper {
    position: absolute;
    height: 10em;
    width: 10em;
    display: flex;
    opacity: 1;
    transform: rotate(-60deg);
    transition: transform 1s ease-in-out 0.25s, opacity 0.75s ease-in 1.25s;
}

#iconLeft,
#iconRight {
    position: absolute;
    width: 100%;
    opacity: 1;
    transition: top 1.25s ease-out 1.25s;
}

#iconLeft {
    top: 0;
}

#iconRight {
    top: 50%;
}